{% extends 'base.html' %}

{% block content %}

<!-- Start Hero Section -->



<div class="cart-container">

    {% if order %}

    <div class="cart-items">

        {% for item in order.added_items.all %}

        <div class="cart-item">
            <img src="{{ item.product.image.url }}" alt="Brozen Chair" class="item-image">
            <div class="item-details">
                <h3>{{ item.product.title }}</h3>
                <p class="price">{{ item.product.price }}</p>
                <div class="quantity">
                    <button class="decrease">-</button>
                    <span class="quantity-number">{{ item.quantity }}</span>
                    <button class="increase">+</button>
                </div>
                <button class="remove"><a href="{% url 'remove_from_cart' item.id %}">REMOVE</a></button>
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="price-details">
        <h3>PRICE DETAILS</h3>
        <table>
            <tr>
                <td>Price:</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Delivery Charges:</td>
                <td>$</td>
            </tr>
            <tr>
                <td>Total Amount:</td>
                <td>$</td>
            </tr>
        </table>
        <button class="checkout">Proceed To Checkout</button>
    </div>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
</div>


{% endblock content %}