{% extends 'base.html' %}
{% load static %}
{% block content %}
        
 <!-- Start Hero Section -->
 <div class="container">
    <h2>Find Your Classic Perfect Furniture</h2>
    <p>Transforming spaces beautifully with quality furniture.</p>
    <a href="#" class="btn">Shop now</a>

</div>
</section>
<!-- End Hero Section -->


             <!-- Start Product Section -->


        <section class="fe_products">
            <div class="container">
            {% for product in featured_products %}
            <div class="fe-product-item">
                    <a href="{% url 'product_details' product.id %}">
                        <img src="{{ product.image.url }}" alt="Cozy Sofa" width="60%" height="60%">
                        <h3>{{product.title}}</h3>
                        <p>{{product.price}}</p>
                    </a>
                </div>
            {% endfor %}
            </div>
        </section>

           
             <!-- End Product Section -->

             <!-- Start Why Choose Us Section -->

             <section class="why-choose-us">
                <div class="container">
                    <div class="content">
                        <h2>Why Choose Us</h2>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                        <div class="features">
                            <div class="feature">
                                <i class='bx bx-package'></i>
                                <h3>Fast & Free Shipping</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                            <div class="feature">
                                <i class='bx bxs-shopping-bags'></i>
                                <h3>Easy to Shop</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                            <div class="feature">
                                <i class='bx bx-support'></i>
                                <h3>24/7 Support</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                            <div class="feature">
                                <i class='bx bx-transfer-alt'></i>
                                <h3>Hassle Free Returns</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{% static '/images/chair1.png' %}" alt="Living Room">
                    </div>
                </div>
            </section>

             <!-- End Why Choose Us Section -->



{% endblock content %}



