{% extends 'base.html' %}

{% block content %}


      
    <div class="signup-section" >

        <!-- login.html -->
<div class="signup-container">
    <div class="left-side">
        <h2>Welcome back!</h2>
        <p>Sign in to continue to your account.</p>
    </div>
    <div class="right-side">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" placeholder="Username" required>
            </div>
            <div>
                
                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</div>
        
        
        </div>


{% endblock content %}