{% extends 'base.html' %}
{% load static %}
{% load chunks %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% block content %}
    <section class="best-seller">
        <h2>Products</h2>
        <div class="filters">
            <button>All Products</button>
            <button>Chair</button>
            <button>Table</button>
            <button>Sofa</button>
            <button>Footstool</button>
            <button>Office</button>
        </div>
       
		{% for product_chunks in products|chunks:4 %}

        <div class="products">
			{% for product in product_chunks %}

            <div class="product">
				<a href="{% url 'product_details' product.id %}">
                <img src="{{ product.image.url }}" alt="Muren Armchairs">
                <h3>{{product.title}}</h3>
                <p>{{product.price}}</p>
                <p>⭐⭐⭐⭐⭐</p>
			</a>
            </div>
			{% endfor %}
        </div>
		{% endfor %}
    
               
	<div class="pagination">
		{% if products.has_previous %}
		<a href="?page={{ products.previous_page_number }}">&laquo;</a>
		{% endif %}
		{% for i in products.paginator.page_range %}
		<a href="?page={{i}}">{{i}}</a>
		{% endfor %}
		{% if products.has_next %}
		<a href="?page={{ products.next_page_number }}">&raquo;</a>
		{% endif %}
		</div>
	  </section>
	  {% endblock %}
</body>  
</html>